:root {
  --borders-border: 1.5px;
  --collection-1-accent: rgba(0, 227, 119, 1);
  --collection-1-accent-duplicate: rgba(0, 227, 119, 1);
  --collection-1-dark: rgba(55, 55, 55, 1);
  --collection-1-dark-duplicate: rgba(55, 55, 55, 1);
  --collection-1-darker: rgba(38, 38, 38, 1);
  --collection-1-darker-duplicate: rgba(38, 38, 38, 1);
  --collection-1-darker-gray-border: rgba(187, 187, 187, 1);
  --collection-1-darker-gray-border-duplicate: rgba(187, 187, 187, 1);
  --collection-1-light-bg: rgba(246, 246, 246, 1);
  --collection-1-light-grey-border: rgba(232, 233, 233, 1);
  --collection-1-light-grey-border-duplicate: rgba(232, 233, 233, 1);
  --collection-1-light-text: rgba(166, 166, 166, 1);
  --collection-1-light-text-duplicate: rgba(166, 166, 166, 1);
  --collection-1-light-yellow: rgba(255, 248, 236, 1);
  --collection-1-secondary: rgba(0, 199, 238, 1);
  --collection-1-secondary-duplicate: rgba(0, 199, 238, 1);
  --collection-1-white: rgba(255, 255, 255, 1);
  --collection-1-white-duplicate: rgba(255, 255, 255, 1);
  --gray-sub-font-family: "Inter", Helvetica;
  --gray-sub-font-size: 12px;
  --gray-sub-font-style: normal;
  --gray-sub-font-weight: 400;
  --gray-sub-letter-spacing: -0.12px;
  --gray-sub-line-height: normal;
  --nomal-text-font-family: "Inter", Helvetica;
  --nomal-text-font-size: 14px;
  --nomal-text-font-style: normal;
  --nomal-text-font-weight: 400;
  --nomal-text-letter-spacing: 0px;
  --nomal-text-line-height: 139.9999976158142%;
  --title-font-family: "Inter", Helvetica;
  --title-font-size: 18px;
  --title-font-style: normal;
  --title-font-weight: 700;
  --title-letter-spacing: -0.18px;
  --title-line-height: normal;
}
